.map {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    margin: 0 auto;

    .iframe3 {
        width: 100%;
        height: 100%;
        text-align: center;
        // margin-right: -950px;
    }
}
.iframe32{
    width: 100%;
    height: 400px;
}

// eslint-disable-next-line